#nav {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: aliceblue;
  border-bottom: #242424;
}

#sidepanel {
  width: 300px;
  height: 100%;
  top: 60px;
  left: 0;
  position: fixed;
  border-right: 1px solid lightblue;
}

#content {
  margin-left: 300px;
  padding-top: 60px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: lightsteelblue;
}